body {
  padding-top: 5rem;
}

.content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.btn-outline-react {
  color: #56D1F7;
  background-color:transparent;
  background-image:none;
  border-color:#56D1F7;
}
